<div class="welcome">
  <h1><img class="main-logo" src="practice-hub-logo-yellow-grey1.png"/></h1>
  <h2 class="main-tag-line">Build routines and make progress.</h2>
</div>

<div class="welcome-content">
  <div class="about">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam impedit dignissimos, ut debitis voluptatem architecto nam nihil quos harum praesentium ea tempora ratione cumque, exercitationem iure reprehenderit sit cupiditate dolorum.</p>
  </div>

  <div class="welcome-grid">
    <div class="welcome-grid1 welcome-column">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam impedit dignissimos, ut debitis voluptatem architecto nam nihil quos harum praesentium ea tempora ratione cumque, exercitationem iure reprehenderit sit cupiditate dolorum.</p>
    </div>
    <div class="welcome-grid2 welcome-column">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam impedit dignissimos, ut debitis voluptatem architecto nam nihil quos harum praesentium ea tempora ratione cumque, exercitationem iure reprehenderit sit cupiditate dolorum.</p>
    </div>
    <div class="welcome-grid3 welcome-column">
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam impedit dignissimos, ut debitis voluptatem architecto nam nihil quos harum praesentium ea tempora ratione cumque, exercitationem iure reprehenderit sit cupiditate dolorum.</p>
    </div>
  </div>

</div>
