<div class="welcome">
  <h1><img class="main-logo" src="practice-hub-logo-yellow-grey1.png"/></h1>
  <h2 class="main-tag-line">Build routines and make progress.</h2>
</div>

<div class="welcome-content">
  <div class="about">
    <p>PracticeHub is an application built for musicians to help construct and organize their practice routines. Users can sign up and log in to their own secure accounts to access all of their routines and stored progress. Build itemized practice routines of your own design and keep track of your progress by ending each practice with notes on your session.</p>
  </div>
</div>
