<div class="welcome">
  <h1><img class="main-logo" src="practice-hub-logo-2.png"/></h1>
  <h2 class="main-tag-line">Build routines and make progress.</h2>
</div>

<div class="site-content">
  <p>Here you can:</p>
  <ul>
    <li>create instruments and routines</li>
    <li>add items to your routines to practice</li>
    <li>keep organized notes to keep track of your progress</li>
  </ul>
</div>
