<div class="welcome">
  <h1>Welcome to the Routine App</h1>
</div>

<div class="site-content">
  <p>Here you can:</p>
  <ul>
    <li>create instruments and routines</li>
    <li>add items to your routines to practice</li>
    <li>keep organized notes to keep track of your progress</li>
  </ul>
</div>
