<%= form_for(@note, url: path) do |f| %>
  <div class="">
    <%= f.text_area:content, size: "73x10"  %>
  </div>
  <br>
  <br>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit "add note" %>
<% end %>
