<div class="routine-banner"><h1>Edit Note</h1></div>

<%= render partial: "layouts/errors", locals: {object: @note} %>
<%= render partial: "form", locals: {path: routine_item_note_path(@routine, @item, @note)} %>
