/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Optima, sans-serif;
  background: #fff4e6;
  margin: auto;
}

.welcome {
  height: 30em;
  width: 100%;
  background-image: linear-gradient(150deg, #cccc00, #7ba428, #198c19, #329932, #7ba428, #cccc00);
  margin-bottom: 5%;
}

.main-logo {
  height: 7em;
  width: auto;
}

.main-tag-line {
  color: white;
  margin-left: 32%;
  margin-top: 0;
  font-size: 2em;
}

.nav-bar {
  border-bottom: 1px solid grey;
  padding: 10px;
  text-align: right;
  background: #e5e5e5;
}

.nav-bar a {
  text-decoration: none;
}

.welcome h1 {
  padding-top: 0;
}

h1 {
  margin: 0;
  padding-top: 4em;
  font-size: 3em;
  text-align: center;
  color: #ffffff;
}

.login-form {
  margin-left: 33%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 33%;
  padding: 1em;
  background: #e6f1ff;
  text-align: center;
}

.signup-form {
  margin-left: 33%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 33%;
  padding: 1em;
  background: #e6f1ff;
  text-align: center;
}

.flash_message {
  text-align: center;
  padding: 1em;
  color: red;
}

.errors {
  margin-left: 25%;
  padding: 1em;
  color: red;
}

.site-content {
  margin-left: 33%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 30%;
  padding: 1em;
  background: white;
  font-size: 1.3em;
}

.site-content li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #428385;
}

a:hover {
  font-weight: bold;
}

input[type="submit"] {
  background-color: #ffb24e;
  border: none;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  color: white;
}

input[type="submit"]:hover {
  background-color: #e5a046;
}
