/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Optima, sans-serif;
  background: #fff4e6;
  margin: auto;
}

.nav-bar {
  border-bottom: 1px solid grey;
  padding: 10px;
  text-align: right;
  background: #e5e5e5;
}

.nav-bar a {
  text-decoration: none;
}

h1 {
  text-align: center;
  color: #854442;
}

.login-form {
  margin-left: 33%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 33%;
  padding: 1em;
  background: #be9b7b;
  text-align: center;
}

.signup-form {
  margin-left: 33%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 33%;
  padding: 1em;
  background: #be9b7b;
  text-align: center;
}

.flash_message {
  text-align: center;
  padding: 1em;
  color: red;
}
