// Place all the styles related to the instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// .instrument-list {
//   box-shadow: 5px 5px 2px 1px #937d62;
//   padding: 1em;
//   background: white;
//   margin-left: 25%;
//   margin-right: 25%;
// }

.instrument-banner {
  height: 10em;
  width: 100%;
  background-image: linear-gradient(45deg, darkgreen, lightgreen);
  border-bottom: 1px solid lightgrey;
}

.instrument-list {
  padding: 2em;
  margin: auto;
  width: 50%;
  text-align: center;
  min-height: 30em;
}

.instrument-list li {
  padding: 10px;
  list-style: none;
}

.instrument-routine-list {
  padding: 1em;
  background: white;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 26em;
}

.instrument-routine-list li {
  padding: 10px;
}
