// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 25em;
}

.item-box {
  box-shadow: 5px 5px 2px 1px #937d62;
  padding: 1em;
  background: #d0d0ff;
  margin: 10px 10px 10px 10px;
  max-height: 12em;
  overflow: scroll;
  list-style: none;
  border-radius: 10px;
}

.grid-item-1 {
  box-shadow: 5px 5px 2px 1px #937d62;
  padding: 1em;
  background: white;
  margin-left: 5px;
}

.grid-item-2 {
  box-shadow: 5px 5px 2px 1px #937d62;
  padding: 1em;
  background: white;
  margin-right: 5px;
}

.item-notes li {
  padding: 10px;
}



.new_item {
  margin-left: 25%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 25%;
  padding: 1em;
  background: #e6f1ff;
}

.edit_item {
  margin-left: 25%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 25%;
  padding: 1em;
  background: #e6f1ff;
}

.item-buttons a {
  padding: 10px;
}
