// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new_note {
  margin-left: 25%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 25%;
  padding: 1em;
  background: #e6f1ff;
}

.edit_note {
  margin-left: 25%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 25%;
  padding: 1em;
  background: #e6f1ff;
}

.note-content {
  box-shadow: 5px 5px 2px 1px #937d62;
  padding: 1em;
  background: white;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
}

.note-links {
  display: inline;
  margin-left: 25%;
}

.note-links a {
  padding: 1em;
}
