// Place all the styles related to the routines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new_routine {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2em;
  background: #e0e0ff;
  border-radius: 10px;
}

.routine-banner {
  height: 10em;
  width: 100%;
  background-image: linear-gradient(45deg, darkgreen, lightgreen);
  border-bottom: 1px solid lightgrey;
}

.routine-banner2 {
  height: 10em;
  width: 100%;
  background-image: linear-gradient(45deg, darkgreen, lightgreen);
  border-bottom: 1px solid lightgrey;
  margin-bottom: 3%;
}

.edit_routine {
  margin-left: 25%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 25%;
  padding: 1em;
  background: #e6f1ff;
}

.routine-list {
  padding: 2em;
  margin: auto;
  width: 50%;
  text-align: center;
  min-height: 30em;
}

.routine-list h2 {
  font-family: Montserat, sans-serif;
}

.routine-list li {
  padding: 10px;
  list-style: none;
}

.routine-item-list {
  padding: 1em;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
  min-height: 22em;
}

.routine-item-list li {
  padding: 10px;
}

.routine-links {
  display: inline;
  margin-left: 33%;
}

.routine-links a {
  padding: 1em;
}
