// Place all the styles related to the routines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new_routine {
  margin-left: 25%;
  box-shadow: 5px 5px 2px 1px #937d62;
  margin-right: 25%;
  padding: 1em;
  background: #be9b7b;
}
