// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 5%;
}

.tip {
  box-shadow: 5px 5px 2px 1px #937d62;
  padding: 1em;
  background: white;
  margin: 0 10% 0 10%;
}

.stats-widget {
  margin: 0 20% 0 5%;
}

.most-popular-instrument {
  box-shadow: 5px 5px 2px 1px #937d62;
  padding: 1em;
  background: white;
}

.number-of-routines {
  box-shadow: 5px 5px 2px 1px #937d62;
  padding: 1em;
  background: white;
}

.number-of-instruments {
  box-shadow: 5px 5px 2px 1px #937d62;
  padding: 1em;
  background: white;
}
