// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 5%;
  height: 100%;
  margin: 0 5% 0 5%;
}

.user-banner {
  height: 10em;
  width: 100%;
  background-image: linear-gradient(45deg, darkgreen, lightgreen);
  margin-bottom: 5%;
  border-bottom: 1px solid lightgrey;
}

.tip {
  padding: 2% 5% 2% 5%;
  max-height: 75%;
}

.tip span {
  color: #4c4c4c;
}

.tip p {
  line-height: 1.5em;
  color: #424246;
  padding: 3% 0 3% 3%;
  border-radius: 10px;
}

.tip h2 {
  font-family: Monsterat, sans-serif;
  font-size: 2em;
  color: black;
  padding-left: 2%;
  text-align: center;
}

.routine-widget {
  border-radius: 10px;
  padding: 5% 10% 5% 10%;
  background: #474766;
  max-height: 75%;
  overflow: scroll;
}

.routine-widget h3 {
  font-family: Monsterat, sans-serif;
  font-size: 2em;
  color: #ffff00;
  text-align: center;
}

.routine-widget-item {
  padding: 4%;
  background-image: linear-gradient(#9999FF, #c1c1ff);
  color: #000000;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 3%;
}

.stats-widget {
  border-radius: 10px;
  padding: 7%;
  background: #474766;
  max-height: 85%;
}

.stats-widget h3 {
  font-family: Monsterat, sans-serif;
  font-size: 1.25em;
  color: #ffff00;
}

.most-popular-instrument {
  padding: 4%;
  background-image: linear-gradient(#9999FF, #c1c1ff);
  color: #000000;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 3%;
}

.number-of-routines {
  padding: 4%;
  background-image: linear-gradient(#9999FF, #c1c1ff);
  color: #000000;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 3%;

}

.number-of-instruments {
  padding: 4%;
  background-image: linear-gradient(#9999FF, #c1c1ff);
  color: #000000;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 3%;

}
