<div class="instrument-banner">
  <h1>Instruments</h1>
</div>


<div class="instrument-list">
  <% @instruments.each do |instrument| %>
    <li><%= link_to instrument.name, instrument_path(instrument) %></li>
  <% end %>
</div>
