<div class="instrument-banner"><h1><%= @instrument.name %> Routines</h1></div>


<div class="instrument-routine-list">
  <% @routines.each do |routine| %>
    <li><%= link_to routine.name, routine_path(routine) %></li>
  <% end %>
</div>
